PROTOCOL_TEST_1=hello # FAIL
PROTOCOL_TEST_2=http  # PASS
PROTOCOL_TEST_3=https # PASS

TEST_HOST_1=193.168.52.252252252 # FAIL
TEST_HOST_2=193.168.52.A         # FAIL
TEST_HOST_3=193.168.52           # FAIL
TEST_HOST_4=1.1.1.1              # PASS

TEST_URL_1 =hello://api.credebl.id # FAIL
TEST_URL_2 =https://api.credebl.id # PASS
TEST_URL_3 =http://localhost:5000  # PASS
TEST_URL_4 =https//api.credebl.id  # PASS
TEST_URL_5 =api.credebl.id         # PASS

TEST_PORT_1=1000  # FAIL
TEST_PORT_2=99999 # FAIL
TEST_PORT_3=3000  # PASS

TEST_OPTIONAL_1=            # FAIL
TEST_OPTIONAL_2=HELLO WORLD # PASS

TEST_NOT_EMPTY_1=            # FAIL
TEST_NOT_EMPTY_2=HELLO WORLD # PASS

TEST_EMAIL_1=HELLO WORLD    # FAIL
TEST_EMAIL_2=name@gmail     # FAIL
TEST_EMAIL_3=namegmail.com  # FAIL
TEST_EMAIL_4=name@gmail.com # PASS

TEST_BOOLEAN_1=1000  # FAIL
TEST_BOOLEAN_2=BOOL  # FAIL
TEST_BOOLEAN_3=FALSE # FAIL
TEST_BOOLEAN_4=TRUE  # FAIL
TEST_BOOLEAN_5=true  # PASS
TEST_BOOLEAN_6=false # PASS

TEST_NUMBER_1=HELLO WORLD # FAIL
TEST_NUMBER_2=1000        # PASS

TEST_ENDPOINT_1=HELLO WORLD           # FAIL
TEST_ENDPOINT_2=http://localhost:3000 # FAIL
TEST_ENDPOINT_3=localhost:3000        # PASS

TEST_MULTIPLE_URL_1=HELLO WORLD                                                  # FAIL
TEST_MULTIPLE_URL_2=http://localhost:3000, HELLO WORLD, www.google.com           # FAIL
TEST_MULTIPLE_URL_3=http://localhost:3000                                        # PASS
TEST_MULTIPLE_URL_4=http://localhost:3000, http://localhost:4000, www.google.com # PASS

TEST_POSTGRES_URL_1=helloworld://postgres:postgres@localhost:5432/credebl  # FAIL (must start with postgresql://)
TEST_POSTGRES_URL_2=postgresql://postgres:postgreslocalhost:99999/credebl  # FAIL (missing @)
TEST_POSTGRES_URL_3=postgresql://postgres:postgres@helloworld:5432/credebl # FAIL (helloworld is not a valid host)
TEST_POSTGRES_URL_4=postgresql://postgres:postgres@localhost:5432/credebl  # PASS

TEST_LOCALHOST_1=localhost             # FAIL
TEST_LOCALHOST_2=localhost:3000        # PASS
TEST_LOCALHOST_3=http://localhost:3000 # PASS

TEST_START_WITH_1=HELLO     # FAIL
TEST_START_WITH_2=WORLD ! ! # PASS

